.wrapper {
  background-color: var(--footer-bg-color);
  color: var(--border-color-primary);
  margin-top: 30px;
  padding: 20px 0;
}
.container-footer {
  padding: 0 30px;
  margin-bottom: 15px;
}
.title {
  font-size: 1.4rem;
  color: var(--footer-color-primary);
  margin: 0 0 10px;
}
.link-heade {
  color: var(--primary);
  font-weight: 700;
  font-size: 1.425rem;
}
.link-item {
  font-size: 1.35rem;
  margin: 2px 0;
  color: var(--text-color-header);
}
.notice {
  font-size: 1.1rem;
  color: var(--footer-color-notice);
  font-style: italic;
  margin-top: 15px;
}
.bold {
  font-weight: bold;
}
// footer-foot

.footer-foot {
  height: 60px;
  background-color: var(--footer-color-bg-darkness);
  color: var(--footer-color-darkness);
  font-size: 1.425rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-footer {
  width: 371px;
}
