.wrapper {
  width: 100%;
}
.edit-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.header-content {
  width: 100%;
  text-align: start;
  font-size: 3rem;
  font-weight: 300;
  color: var(--primary);
}
.header-content-title {
  border-bottom: 2px solid var(--color-info-default);
  display: inline-block;
}
.menu-profile {
  width: 25%;
}
.form-edit-profile {
  width: 40%;
}
.text-input {
  font-size: 1.7rem;
}
.label {
  color: var(--color-meta);
}
.form-group-cus {
  margin: 12px 0;
}
.input {
  border-radius: 4.5px;
  border-style: solid;
  border-width: 1px;
  color: var(--text-color-input);
  font-size: 15px;
  font-weight: 300;
  line-height: 22.5px;
  padding: 12px 24px;
}
.password {
  background-color: var(--bg-password-color);
}
.note {
  color: var(--footer-color);
  font-size: 12px;
  line-height: 18px;
  margin: 3.75px 0px 0px;
  text-align: left;
}
.btn-save-change {
  background-color: var(--primary);
  border: none;
  outline: none;
  padding: 12px 30px;
  border-color: var(--primary);
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  color: var(--white);
  font-size: 15px;
  line-height: 22.5px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: var(--bg-infor-color-primary);
  }
}
.spinner-wrapper {
  display: flex;
  justify-content: center;
}
