@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
:root {
  --text-color-header: #adb5bd;
  --text-color-title: #444444;
  --text-color-input: #343a40;
  --bg-color-error-message: #f8d7da;
  --bg-color-notice-auth: #d1ecf1;
  --bg-default: #dee2e6;
  --bg-red: #ca1d14;
  --bg-profile-menu-color: #dce0e4;
  --bg-red-skye: #ed241a;
  --bg-sky-color: #dddddd;
  --bg-color-detail: #dadfe3;
  --bg-profile-menu-color-info: #ced1d3;
  --bg-password-color: #e8f0fe;
  --bg-infor-color-primary: #118395;
  --bg--filter-color-primary: #edeff1;
  --bg--search-result-color: #e9ecef;
  --bg--btn-server-color: #d5dbe1;
  --bg-session-home-color: #bbc3ca;
  --bg-red-tip: #c71630;
  --color-primary: #0f6674;
  --color-meta: #6c757d;
  --color-border-info: #a1a8ae;
  --color-info-default: #cccccc;
  --color-warning: #ffc107;
  --color-error-message: #721c24;
  --color-notice-auth: #0c5460;
  --footer-bg-color: #111111;
  --footer-color-primary: #f8f9fa;
  --footer-color-notice: #919ca6;
  --footer-color-bg-darkness: #181818;
  --footer-color-darkness: #6c757d;
  --footer-color: #495057;
  --header-color-search-icon: #606060;
  --header-color-primary: #117a8b;
  --border-color-error-message: #f5c6cb;
  --border-color-primary: #ced4da;
  --primary: #17a2b8;
  --black: #000000;
  --white: #ffffff;
  --global-background-color: #f3f9fe;
  --input-color-auth: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--global-background-color);
}
a {
  color: var(--text-color-header);
  text-decoration: none;
  &:hover {
    color: currentColor;
  }
}
input {
  border: none;
  outline: none;
}
