.wrapper {
  justify-content: center;
  align-items: center;
  margin: 100px 0;
}
input {
  font-size: 1.7rem;
  border: 1px solid var(--bg-session-home-color) !important;
  border-radius: 5px;
  margin: 6px 0;
  padding: 4px 6px;
  transition: all ease-in-out 0.2s;
  &:focus {
    border: 1px solid var(--primary) !important;
  }
}
.group-form {
  margin-bottom: 10px;
}
