.wrapper {
  width: 260px;
  background-color: white;
  padding: 10px 15px;
  border-radius: 6px;
  box-shadow: 2px 1px 9px 1px var(--text-color-header);
}
.title {
  color: var(--primary);
  font-size: 1.65rem;
  line-height: 24.75px;
  text-align: left;
}
.meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.35rem;
  line-height: 18px;
  color: var(--color-meta);
}
.imdb {
  color: var(--footer-color);
}
.icon {
  color: var(--color-warning);
  width: 12px;
}
.quantity {
  background-color: var(--primary);
  font-size: 1.1475rem;
  border-radius: 3.75px;
  color: white;
  font-weight: 500;
  padding: 2px 8px;
}
.description {
  font-size: 1.275rem;
  color: var(--color-meta);
  font-weight: 300;
  line-height: 18px;
  margin: 10px 0 0;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}
.origin {
  margin-top: 10px;
  font-size: 1.215rem;
  color: var(--color-meta);
  a {
    color: var(--color-meta);
    &:hover {
      color: var(--border-color-primary);
    }
  }
}
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 0 0 0;
}
.watch {
  background-color: var(--primary);
  border-radius: 4.5px;
  font-size: 1.5rem;
  line-height: 35px;
  margin: 0 10px 0 0;
  width: 80%;
  color: white;
  transition: all 0.2s ease-in-out;
  text-align: center;
  a {
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
  }
  &:hover {
    background-color: var(--color-primary);
  }
}
.bookmark {
  background-color: var(--bg-red-skye);
  border-radius: 4.5px;
  font-size: 15px;
  text-align: center;
  width: 16%;
  padding: 6px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  a {
    color: white !important;
    display: block;
    width: 100%;
    height: 100%;
    &:hover {
      color: white;
    }
  }
  &:hover {
    background-color: var(--bg-red-tip);
  }
}
.icon-heart {
  color: white;
  &:hover {
    color: white;
  }
}
