.wrapper {
  display: flex;
}
.sidebar {
  background-color: var(--primary);
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 65px;
  width: 15%;
  padding: 30px 0;
}
.sidebar-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
  a {
    color: currentColor;
  }
}
.side-item {
  font-weight: 400;
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #0f6674;
  }
  padding-left: 40px;
}
.icon {
  margin-right: 10px;
}
.content {
  margin-left: 230px;
  padding: 20px;
  position: fixed;
  width: 85%;
  height: 93%;
  overflow-y: auto;
}
