.wrapper {
  border-radius: 1rem;
  margin-top: 2%;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 11px rgb(0 0 0 / 50%);
  text-align: left;
}
.more {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: var(--primary);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
  &:hover {
    color: white;
  }
}
