.wrapper {
}
.header-sessions {
  display: flex;
  justify-content: space-between;
  padding: 0 7.5px;
}
.header-sessions-left {
  display: inline-flex;
}
.title {
  position: relative;
  margin-right: 30px;
  font-size: 2.7rem;
  font-weight: 300;
  color: var(--primary);
  &::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--bg-session-home-color);
  }
}
.tabs {
}
.tab-item {
  display: inline-block;
  background-color: var(--bg-default);
  color: var(--footer-color);
  font-size: 1.35rem;
  border-radius: 3px;
  padding: 0 10px;
  margin: 0 2px;
  line-height: 29.7px;
  &:hover {
    color: var(--footer-color);
  }
}
.active {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
    color: var(--white);
  }
}
.header-sessions-right {
  font-size: 1.5rem;
  color: var(--primary);
  line-height: 22.5px;
  a {
    color: var(--primary);
  }
  &:hover {
    color: var(--color-primary);
  }
}
