.wrapper {
}
.header {
  margin: 12px 0;
  display: flex;
  align-items: baseline;
  h2 {
    margin-right: 10px;
  }
}
.form-control {
  font-size: 1.5rem;
}
.preview-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid var(--primary);
  border-radius: 5px;
}
.preview {
  width: 173px;
  height: 337px;
}
.movie {
  position: relative;
  margin-bottom: 40px;

  &:hover {
    .movie-overlay {
      display: flex;
    }
    .movie-overlay-icon-wrapper {
      transform: scale(1);
      opacity: 1;
    }
  }
}
.movie-quantity {
  position: absolute;
  top: 9px;
  right: 7px;
  background-color: white;
  border-radius: 3px;
  font-size: 1.29rem;
  font-weight: 500;
  line-height: 20px;
  padding: 0 5px;
}
.movie-image {
  position: relative;
}
.movie-image-src {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}
.movie-info {
}
.movie-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px 0;
  color: var(--input-color-auth);
}
.movie-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.movie-meta {
  color: var(--color-meta);
  font-size: 1.4rem;
}
.movies-type {
  color: var(--color-meta);
  font-size: 1.08rem;
  border-color: var(--color-border-info);
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  padding: 5px 3px 3px;
  line-height: 8.64px;
}
.movie-overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.movie-overlay-icon-wrapper {
  z-index: 2;
  position: absolute;
  display: inline-block;
  background-color: white;
  width: 59px;
  height: 59px;
  top: 39%;
  left: 33%;
  border-radius: 50%;
  transform: scale(0);
  opacity: 0.1;
  transition: all 0.2s ease-in-out;
}
.movie-play-icon {
  width: 60px;
  height: 60px;
  color: var(--primary);
}
.btn-group-custom {
  display: flex;
  justify-content: center;
}
.btn-custom {
  font-size: 1.6rem;
  margin: 28px 5px 0 5px;
  padding: 5px 20px;
}
.required {
  color: red;
}
.error-input {
  border: 1px solid red;
  transition: all ease-in-out 0.2s;
}
