.wrapper {
  color: var(--text-color-title);
}
.search-item {
  height: 90px;
  display: flex;
  padding: 10px 15px;
  border-color: var(--bg--search-result-color);
  border-style: solid none none;
  border-width: 1px 0px 0px;
  &:hover {
    background-color: var(--bg--search-result-color);
  }
}
.img-search-item {
  width: 50px;
  height: 73px;
  border-radius: 6px;
}
.info-search {
  color: var(--color-meta);
  font-size: 15px;
  line-height: 22.5px;
  margin: 0px 0px 0px 6px;
  text-align: left;
}
.title {
  color: var(--input-color-auth);
  font-size: 15px;
  font-weight: 500;
  line-height: 22.5px;
  margin: 0px 0px 6px;
  text-align: left;
}
.body {
  font-size: 1.275rem;
  line-height: 19.125px;
  display: flex;
  align-items: center;
}
.dot {
  margin: 0 4px;
}
